<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<link rel="stylesheet" href="css/classes.css">
		<link rel="stylesheet" href="css/ids.css">
	</head>
	<body>
		<div class="pagewrap" id="login-pagewrap">
			<div class="hidden" id="disabling-overlay"></div>
			<div class="hidden alert-container" id="alert-box">
				<div id="alert-message"></div>
				<input name="renew-session" type="button" class="button" id="alert-okay-button" value="">
			</div>
			<div class="hidden" id="loader-container"><div class="lds-dual-ring"></div></div>
			<div class="left-pane">
				<div class="header">
					<center><span class="header-text">Test Website</span></center>
				</div>
				<div class="body">
					<div class="header" id="login-header">
						<center><span class="header-text" id="login-header-text">Sign In</span></center>
					</div>
					<div class="body" id="login-body">
						<input type="text" name="username" class="textbox textbox-no-status bottom-margin" id="username-textbox" placeholder="Username">
						<input type="password" name="password" class="textbox textbox-no-status bottom-margin" id="password-textbox" placeholder="Password">
						<input type="button" onclick="submit_data('post', 'authenticate')" name="submit" class="button" id="sign-in-button" value="Sign In">
						<!--<div id="login-links"><a href="/createaccount"><span>Sign Up</span></a></div>-->
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="scripts/functions.js"></script>
		<script type="text/javascript" src="scripts/login.js"></script>
		<%
			if (parameters["newuserlogin"]):
				self.template_print("<script>page_alert('Log in with your new user account.', 'Okay', function(){confirm_alert();});</script>", end = "")
		%>
	</body>
</html>
